.btn-outline-custom {
    border: 2px solid lime;
    color: lime;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;  
    transition: all 0.5s;
}

.btn-outline-custom:hover {
    color: black;
    background-color: lime;
    border-color: lime;
}

.btn-outline {
    border: 2px solid lime;
    color: lime;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;  
    transition: all 0.5s;
}

.btn-outline:hover {
    color: black;
    background-color: lime;
    border-color: lime;
}

.btn-box, .btn-box:focus {
    border: 1px solid lime;
    color: lime;
    background: transparent;
    outline: none;
}

.btn-box:-webkit-autofill,
.btn-box:-webkit-autofill:hover, 
.btn-box:-webkit-autofill:focus {
    border: 1px solid lime !important;
    color: lime !important;
    background: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px transparent;
}

.btn-box::-webkit-input-placeholder {
    color: rgba(255, 239, 213, 0.285);
}

.my-link {
    color: lime;
}

.my-link:hover {
    color: yellow;
}

.transparent-box {
    background: rgba(255, 255, 255, 0); 
    border: 2px solid lime; 
    border-radius: 10px; 
}

.transparent-box-2 {
    background-color: rgba(255, 255, 255, 0); 
    border: 2px solid lime; 
    border-radius: 10px;
    padding: 20px;
    max-width: 80%; 
    max-height: 80%; 
    margin: auto; 
    overflow: auto; 
}

.btn-edit {
    border: solid lime;
    color: lime;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;  
    transition: all 0.5s;
}

.btn-edit:hover {
    color: black;
    background-color: lime;
    border-color: lime;
}

.btn-delete {
    border: solid rgba(255, 85, 85, 0.971);
    color: rgba(255, 85, 85, 0.971);
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;  
    transition: all 0.5s;
}

.btn-delete:hover {
    color: black;
    background-color: rgba(235, 65, 65, 0.971);
    border-color: rgba(235, 65, 65, 0.971);
}

.btn-qr {
    border: solid lime;
    color: lime;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;  
    transition: all 0.5s;
}

.btn-qr:hover {
    color: black;
    background-color: lime;
    border-color: lime;
}

.small-modal .modal-dialog {
    max-width: 300px;
    margin: 5px auto;
}

.modal-content {
    border: solid lime;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

#myChart {
    max-width: 100%; 
    height: auto;
}

.chart-container {
    width: 80%; 
    height: 80%; 
    margin: auto; 
}

  @keyframes slideInAndOut {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    75% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
  }