{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<br>
    <h1 align="center" style="color:lime; animation: slideInAndOut 10s linear infinite;"><b>CUSTOM-SHORTEN URL</b></h1>
    <br>
    <br>
    <form method="POST">
        <br>
            <div><h5 style="color:lime"><b>original_url:</b></h5>
                <input name="text" id="text" class="form-control btn-box"></input>
            </div>
        <br />
        <br>
            <div><h5 style="color:lime"><b>custom_short_url:</b></h5>
                <input name="text2" id="text2" class="form-control btn-box"></input>
            </div>
        <br />
            <div align="center">
                <button type="submit" class="btn-outline-custom">SHORTEN</button>
            </div>
        <br />
    </form>
<div align="center">
    <a href="/dashboard"><button type="button" class="btn-outline">BACK</button></a>
</div>
{% endblock %}
