{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <h1 align="center" style="color:lime; animation: slideInAndOut 10s linear infinite;"><b>FORGOT YOUR PASSWORD?</b></h1>
    <br>
    <br>
    <div class="form-group">
        <fieldset>
            <label for="email" style="color:lime"><b>EMAIL:</b></label>
            <input type="email" name="email" id="email" class="form-control btn-box" placeholder="Enter your Email" required>
        </fieldset>
        <br>
        <fieldset align="center"> 
            <button type="submit" id="button" class="btn-outline-custom">Submit</button>
        </fieldset>
    </div>
</form>
<p></p>
<div align="right">
    <a href="/login"><button type="button" class="btn-outline">BACK</button></a>   
</div>
{% endblock %}
