{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
{% if current_user.is_authenticated %}
    <br>
    <h1 align="center" style="color:#ffffff">{% block header %}RECENT SHORT URLS{% endblock %}</h1>
    <div id="urls">
        {% for url in urls %}
        <div style="background-color:rgb(248, 250, 251)" class="card border-dark">
            <br>
            <div style="background-color:rgb(72, 171, 243); color: rgb(255, 255, 255);" class="card justify-content-between align-items-center border-dark">
                <a href="/dashboard{{url.user.email}}"></a>
                <div>
                    <br>
                    <h5>Original URL: <a href="{{url.original_url}}" target="_blank">{{url.original_url}}</a></h5>
                </div>
                <br>
                <div>
                    <h5>Shortened URL: <a href="http://{{ server_name }}/{{url.short_url}}" target="_blank">https://{{ server_name }}/{{url.short_url}}</a></h5>
                </div>
                <div>
                    <button align="center" type="button" class="btn btn-info btn-sm" onclick="toggleQR('{{ url.short_url }}')">QR Code</button>
                    <a href="{{ url_for('views.delete', url_key=url.short_url) }}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                </div>
                <div id="qr_{{ url.short_url }}" style="display: none;">
                    <br>
                    <img src="" alt="QR Code">
                    <br>
                </div>
                <div>
                    <br>
                    <h5>Created: {{url.date_created.strftime('%B %d, %Y')}} || Click Count: {{url.click_count}}</h5>
                    <br>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    <br>

    <br>
    <h1 align="center" style="color:#ffffff">{% block header_custom_urls %}RECENT CUSTOM URLS{% endblock %}</h1>
    <div id="custom_urls">
        {% for url in custom_urls %}
        <div style="background-color:rgb(248, 250, 251)" class="card border-dark">
            <br>
            <div style="background-color:rgb(72, 171, 243); color: rgb(255, 255, 255);" class="card justify-content-between align-items-center border-dark">
                <a href="/dashboard{{url.user.email}}"></a>
                <div>
                    <br>
                    <h5>Original URL: <a href="{{url.original_url}}" target="_blank">{{url.original_url}}</a></h5>
                </div>
                <br>
                <div>
                    <h5>Custom Shortened URL: <a href="http://{{ server_name }}/{{url.custom_short_url}}" target="_blank">https://{{ server_name }}/{{url.custom_short_url}}</a></h5>
                </div>
                <div>
                    <button align="center" type="button" class="btn btn-info btn-sm" onclick="toggleQR('{{ url.custom_short_url }}')">QR Code</button>
                    <a href="{{ url_for('views.update', url_key=url.custom_short_url) }}"><button type="button" class="btn btn-warning btn-sm">Edit</button></a>
                    <a href="{{ url_for('views.delete', url_key=url.custom_short_url) }}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                </div>
                <div id="qr_{{ url.custom_short_url }}" style="display: none;">
                    <br>
                    <img src="" alt="QR Code">
                    <br>
                </div>
                <div>
                    <br>
                    <h5>Created: {{url.date_created.strftime('%B %d, %Y')}} || Click Count: {{url.click_count}}</h5>
                    <br>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    <script>
        function toggleQR(urlKey) {
            var qrDiv = document.getElementById("qr_" + urlKey);
            var qrImg = qrDiv.querySelector("img");

            if (qrDiv.style.display === "none") {
                // QR code is hidden, show it
                qrImg.src = "/generate_qr/" + urlKey;
                qrDiv.style.display = "block";
            } else {
                // QR code is visible, hide it
                qrDiv.style.display = "none";
            }
        }
    </script>
    {% block footer %}
    {% if current_user.is_authenticated %}
    <br>
    <div align="center">
      <a href="/shortenurl">
        <button type="button" class="btn btn-primary btn-lg">
          SHORTEN URL
        </button></a>
    </div>
    <br>
    <div align="center">
      <a href="/customurl"
        ><button type="button" class="btn btn-primary btn-lg">
          CUSTOM URL
        </button></a>
    </div>
    {% endif %}
    {% endblock %} 
{% else %}
    <br>
    <br>
    <br>
        <div align="center" class="about-text" style="color:#ffffff">
            <h1 align="center">SHORTEN. SIMPLIFY. SHARE.</h1>
            <br>
            <p>
                We believe in keeping things simple, so you can focus on what matters most.
            </p>
            <p>
                Scissor is designed with simplicity in mind. Just paste your long URL, hit "SHORTEN", and watch the magic happen. No technical jargon or complicated setup required.
            </p>
            <p>
                Unlock the power of concise sharing with Scissor. Make your links impactful, trackable, and effortlessly shareable. Shorten with Scissor and experience the difference.
                <br>
                <br>
                <br>
                <a href="/signup"><button type="button" class="btn btn-warning btn-lg">JOIN SCISSOR NOW</button></a>                
                <br>
            </p>
        </div>
{% endif %}
{% endblock %}
