{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
{% if current_user.is_authenticated %}
    <br>
    <br>
    <br>
    <div align="center" class="about-text" style="color:lime">
            <h1 align="center" style=" animation: slideInAndOut 10s linear infinite;"><b>SHORTEN. SIMPLIFY. SHARE.</b></h1>
            <br>
            <p>
                We believe in keeping things simple, so you can focus on what matters most.
            </p>
            <p>
                Scissor is designed with simplicity in mind. Just paste your long URL, hit "SHORTEN", and watch the magic happen. No technical jargon or complicated setup required.
            </p>
            <p>
                Unlock the power of concise sharing with Scissor. Make your links impactful, trackable, and effortlessly shareable. Shorten with Scissor and experience the difference.
                <br>
                <br>
            </p>
            <br>
            <div align="center">
            <a href="/shortenurl">
                <button type="button" class="btn-outline-custom">
                SHORTEN URL
                </button></a>
            </div>
            <br>
            <div align="center">
            <a href="/customurl"
                ><button type="button" class="btn-outline-custom">
                CUSTOM URL
                </button></a>
            </div>
            <br>
        </div>
{% else %}
    <br>
    <br>
    <br>
        <div align="center" class="about-text" style="color:lime">
            <h1 align="center" style=" animation: slideInAndOut 10s linear infinite;"><b>SHORTEN. SIMPLIFY. SHARE.</b></h1>
            <br>
            <p>
                We believe in keeping things simple, so you can focus on what matters most.
            </p>
            <p>
                Scissor is designed with simplicity in mind. Just paste your long URL, hit "SHORTEN", and watch the magic happen. No technical jargon or complicated setup required.
            </p>
            <p>
                Unlock the power of concise sharing with Scissor. Make your links impactful, trackable, and effortlessly shareable. Shorten with Scissor and experience the difference.
                <br>
                <br>
                <br>
                <a href="/signup"><button type="button" class="btn-outline-custom"><b>JOIN SCISSOR NOW</b></button></a>               
                <br>
            </p>
        </div>
{% endif %}
{% endblock %}
