{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <h1 align="center" style="color:papayawhip"> Reset your password </h1>
    <div class="form-group">
        <fieldset>
            <label for="password" style="color:papayawhip"><b>New Password:</b></label>
            <input type="password" name="password" id="password" class="form-control btn-box" placeholder="Enter new Password" required>
        </fieldset>
        <br>
        <fieldset align="center"> 
            <button type="submit" id="button" class="btn-outline-custom">Submit</button>
        </fieldset>
    </div>
</form>
{% endblock %}
