{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<br>
    <h1 align="center" style="color:papayawhip">SHORTEN URL</h1>
    <form method="POST">
        <br>
            <div><h5 style="color:papayawhip"><b>original_url:</b></h5>
                <input name="text" id="text" class="form-control btn-box"></input>
            </div>
        <br />
        <br>
            <div align="center">
                <button type="submit" class="btn-outline-custom">SHORTEN</button>
            </div>
        <br />
    </form>
<br />
<div align="center">
    <a href="/home"><button type="button" class="btn-outline">BACK</button></a>
</div>
{% endblock %}
