{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <h1 align="center" style="color:lime; animation: slideInAndOut 10s linear infinite;"><b>SIGN UP</b></h1>
    <br>
    <br>
    <div class="form-group">
        <fieldset>
            <label for="username" style="color:lime"><b>USERNAME:</b></label>
            <input type="text" name="username" id="username" class="form-control btn-box" required>
        </fieldset>
        <br>
        <fieldset>
            <label for="email" style="color:lime"><b>EMAIL:</b></label>
            <input type="email" name="email" id="email" class="form-control btn-box" required>
        </fieldset>
        <br>
        <fieldset>
            <label for="password1" style="color:lime"><b>PASSWORD:</b></label>
            <input type="password" name="password1" id="password1" class="form-control btn-box" required>
        </fieldset>
        <br>
        <fieldset>
            <label for="password2" style="color:lime"><b>CONFIRM PASSWORD:</b></label>
            <input type="password" name="password2" id="password2" class="form-control btn-box" required>
        </fieldset>
        <br>
        <fieldset align="center"> 
            <button type="submit" id="button" class="btn-outline-custom">SUBMIT</button>
        </fieldset>
    </div>
</form>
<br>
<div align="center">
    <a href="/login"><button type="button" class="btn-qr">LOGIN</button></a>
</div>
<p></p>
<div align="right">
    <a href="/home"><button type="button" class="btn-outline">BACK</button></a>   
</div>
{% endblock %}
